<% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
<% end %>

<br><br>
<center><h1>Welcome to Awesome URL Generator</h1>
<br><br>

<%= form_tag(controller: "urls", action: "create", method: "post") do %>
  <%= label_tag(:input, "Enter the longer URL:") %>
  <%= text_field_tag(:input) %>
  <%= submit_tag("Submit") %>
<% end %>
<br>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-106230242-1', 'auto');
  ga('send', 'pageview');

</script>
